<div id="databinding">
    <h3>Response Successful?</h3>
    <p>{{response}}</p>
</div>

<button (click)="SendButtonPressed()">Send Request</button>

<br><br>
<p>List of Repositories pulled from GitHub API:</p>

<div>
    <div *ngFor="let repo of repositories" style="background-color: #D7D7D7; font-family: verdana; padding: 5px 20px 10px 20px; margin: 30px">
        <h3>{{ repo.name }}</h3>
        <p>Owner: <a href="{{repo.owner.html_url}}">{{repo.owner.login}}</a></p>
        <p>Description:<br>{{ repo.description }}</p>
        <p><a href="{{repo.html_url}}">Link to Repository</a></p>
    </div>
</div>