<h3>Angular Scully Example Template</h3>

<p>This is an Angular project with Scully setup for JAMStack use. The repo structure is setup with example pages, layouts and custom components. Also has example Network and Cookie services ready to go (using dependency injection).</p>

<h4>Example Pages:</h4>
<ul>
    <li><a href="examples/color">Colors Example</a></li>
    <li><a href="examples/components">Components Example</a></li>
    <li><a href="examples/eventbindings">Event Bindings Example</a></li>
    <li><a href="examples/layouts">Layout Example</a></li>
    <li><a href="examples/cookies">Cookies Service Example</a></li>
    <li><a href="examples/network">Network Service Example</a></li>
</ul>

<p>For documentation see the Readme file / GitHub Repo page.</p>